.nav-wrapper {
    background-color: var(--blue);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 1.5rem 0;
}
.nav {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.navlink {
    color: white;
    font-size: 1.15rem;
    text-decoration: none;
}

.navlink:hover {
    text-decoration: underline;
}

.activeLinkStyle {
    color: white;
    font-weight: bold;
    text-decoration: underline;
}

.logout-btn {
    background-color: transparent;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: 2px solid white;
    border-radius: 7px;
    cursor: pointer;
}

.logout-btn:hover {
    font-weight: bold;
}
