.pw-inp-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    border: 1px solid var(--blue);
    border-radius: 7px;
    outline: none;
}

.pw-inp {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    width: 100%;
    border: none;
    border-radius: 7px;
    outline: none;
}

.pw-inp::placeholder {
    color: var(--grey2);
}

.pw-hide-btn {
    background-color: transparent;
    color: var(--blue);
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    cursor: pointer;
}

.pw-hide-btn:hover {
    background-color: transparent;
    color: var(--blue2);
}